@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@layer components{
  .button{
    @apply bg-secondary hover:bg-accent text-accent hover:text-secondary px-3 py-1 rounded-lg mt-10 m-4 text-lg transition-colors
  }
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Inter',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.no-scrollbar::-webkit-scrollbar {
  display: none
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animate__delay-04s{
animation-delay: 0.4s;
}
.animate__delay-08s{
animation-delay: 0.8s;
}